[submodule "external/sam2"]
    path = external/sam2
    url = https://github.com/HWC003/sam2.git
[submodule "external/grounded-sam2"]
    path = external/grounded-sam2
    url = https://github.com/HWC003/grounded-sam2.git

